

.swiper_container {
    width: 80%;
    /* height: auto; */
}

/* .carousel .swiper .swiper-wrapper .swiper-slide-shadow-left {
    width: 400px;
} */


/*-------*/
.swiper_container[class~="reviews_swiper_container"] [class~="swiper-wrapper"] {
    height: 340px;
}

/*-----Mobile-----*/

@media (max-width: 1200px) {
    .swiper_container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper_container[class~="reviews_swiper_container"] {
        overflow: visible;
    }

    .swiper_container[class~="reviews_swiper_container"] [class~="swiper-wrapper"] {
        height: 100%;
    }
    .swiper_container[class~="reviews_swiper_container"] [class~="swiper-slide"] {
        /* width: 250px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper_container [class~="swiper-pagination"] {
        bottom: 0;
    }
    .swiper_container [class~="swiper-button-prev"] {
        left: -10px;
    }
    .swiper_container [class~="swiper-button-next"] {
        right: -10px;
    }
    .swiper_container [class~="swiper-button-prev"]::after, .swiper_container [class~="swiper-button-next"]::after {
        font-size: 30px;
    }

    /* .swiper_container [class~="swiper-wrapper"] [class~="swiper-slide-shadow-left"], .swiper_container [class~="swiper-wrapper"] [class~="swiper-slide-shadow-right"] {
        height: 100%;
    } */

    /* .carousel {
        width: 80%;
    }
    .carousel [class~="swiper"] {
        width: 80%;
    } */
}