

.swiper_container {
    width: 80%;
}

.carousel .swiper .swiper-wrapper .swiper-slide-shadow-left {
    width: 400px;
}


/*-------*/
.swiper_container[class~="reviews_swiper_container"] [class~="swiper-wrapper"] {
    height: 340px;
  }
