.container {
    color: var(--text-block-color);
    display: flex;
    /* justify-content: space-between; */
    height: 100%;
    /* width: 100%; */
    max-width: 1024px;
    margin: 0 auto;
    align-items: center;
    
}

h1.tb_title {
    font-family: Amiko, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.03em;
    /* margin-bottom: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.tb_text {
    font-family: Amiko, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    /* margin: 5px 0; */
}

.tb_icons {
    margin: 0 20px 6px;
}

/* .tb_button {} */

/* .tb_text .tb_bold {
    font-weight: 600;
}

.container .tb_yellow {
    color: var(--yellow);
}

.container .tb_blue {
    color: var(--blue);
} */

.cont_text {
    display: flex;
    flex-direction: column;
}

.container_right {
    align-items: end;
}

.container_right > * {
    display: block;
    text-align: right;
    padding: 10px 0;
}

.cont_img {
    min-height: 20px;
    min-width: 55%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* object-fit: contain; */
}

/* .cont_img img {
    height: 300px;
    width: 300px;
} */

.container .cont_img svg, .cont_img img {
    /* width: 300px;
    height: 300px; */
    /* object-fit: contain; */
    /* scale: 0.5; */
    translate: -150px;
}

.cont_text h1 {
    
}

.tb_text div {
    margin: 10px 0;
    /* display: flex; */
}

/* .tb_text span+div {
    display: flex;
    flex-direction: row;
} */
