.section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: transparent;
    height: 60px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    transition: 0.25s ease;
    /* transition: box-shadow, background-color, margin, padding 0.25s ease; */
}

.header_scrolled {
    /* background-color:#1d3585e5; */
    background: linear-gradient(90deg, rgba(76, 26, 87, 0.930) 0%, rgba(32, 26, 100, 0.930) 100%);
    /* padding: 2px 15px 0; */
    padding: 0 30px;
    margin: 3px auto;
    box-shadow: 0 12px 34px -11px rgba(65, 62, 101, 0.555);
    /* border: 1px solid rgba(13, 21, 139, 0.829); */
    border-radius: 15px;
}
.header_scrolled_no_main {
    max-width: 1150px;
}
.header_scrolled .call a {
    display: flex;
    align-items: center;
    z-index: 15;
}

.header_scrolled .call a::after {
    content: url(../../contacts/icons/phone_icon.png);
    position: absolute;
    top: 13px; 
    left: 289px;
    zoom: 77%;
    /* width: 10px;
    height: 10px; */
    /* border-image-width: 10px; */
    
}

.header_scrolled a ~ a {
    color: var(--white) !important;
}

.call {
    width: 30%;
    justify-self: start;
    display: flex;
    font-family: var(--font-usual-nunito); /*noto*/ 
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #FCDA10;
    /* z-index: 10; */
}

.call_div {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(240, 132, 9);
    z-index: 26;
    /* -webkit-text-stroke-color: rgb(13, 14, 78); */
    /* text-shadow: 0 0 3px brown; */
}
.call_bg {
    height: 49px;
    width: 210px;
    border: 2px solid transparent;
    left: 50px;
    border-radius: 25px;
    /* background-color: #0a2ea5f5; */
    background-image: linear-gradient(135deg, #3e81bb, #122c83);
    z-index: 10;
    opacity: 0;
    transition: 0.5s ease-in-out;
    /* transition: border 2s ease-in-out; */
}

.call_bg_btn_active {
    left: -16px;
    opacity: 1;
    border: 2px solid rgb(150, 92, 16);
    z-index: 5;
}

.links {
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-usual-nunito); /* fira-mono*/
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    color: #FFFFFF;
}
.links a {
    z-index: 15;
}

.links_dark_all {
    color: var(--text-header-alt);
}
.links_dark_aside_main a:not([class="smtimes_white"]) {
    color: var(--text-header-alt);
}




.to_top_btn {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    z-index: 12;
    cursor: unset;
    left: 0;
}
