

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: no-repeat url("../../../img/\(main\ page\)\ pic\ 7\ Reviews.png");

}