@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

.container {
    width: 100%;
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background: no-repeat center/cover url("../../../img/\(main\ page\)\ pic\ 7\ Reviews.png"); */
    translate: 0 -30px;
    position: relative;
}

.title {
    font-family: "Nunito", sans-serif;
    color: var(--white);
    font-weight: 700; 
    font-size: 32px;
    line-height: 42.69px; 
    letter-spacing: 3%;
}

.carousel {
    height: 400px;
}

.rev_rings {
    position: absolute;
    bottom: -180px;
}