.swiper_container {
    width: 80%;
}

.swiper_container .gallery_slide {
    width: 310px;/* 270px; */
    height: 370px;
}

.gal_photo {
    width: 110%;
    object-fit: cover;
    /* border: 3px solid var(--blue); */
    border-radius: 20px;
}

.gal_photo_vertical {
    height: 100%;
}

.gal_photo_wide {
    height: 49%;
}