.main {
    width: 100%;
    height: 2099px;
    display: flex;
    justify-content: center;
    background: no-repeat url("../../img/backgrounds-for-pages/Gallery_bg_without_pics.png");
    background-size: cover;
}

/* .header_margin {
    height: 250px;
} */

.sections_container {
    height: 100%;
    width: 1434px;
    /* 1300px; /* 1441px; */
    background: no-repeat url('../../img/backgrounds-for-pages/Gallery_bg_pics.png');
    background-size: auto;
    background-position-x: center;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sections {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.section_block ul {
    display: flex;
    flex-direction: column;
}
.section_block h1, .section_block h2 {
    margin-bottom: 7px;
}

.section_block {
    margin-bottom: 30px;
}

.section_block.block_1, .section_block.block_2, .section_block.block_5, .section_block.block_6 {
    align-items: flex-end;
    text-align: end;
}

.section_block.block_5, .section_block.block_6 {
    width: 60%;
    align-self: flex-end;
}

/* .section_block.block_5 li, .section_block.block_6 li {
    align-self: flex-end;
} */

.footer {
    margin-top: auto;
}
